Data Structure Assignmennt

1. Write a code to create a string with your name and print it.

In [1]:
name = "Ram Gopal Gupta"
print(name)

Ram Gopal Gupta

2. Write a code to find the length of the string "Hello World".

In [3]:
str_one = "Hello World"
length_str = len(str_one)
print(length_str)

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [23]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [5]:
hello_str = "hello"
upper_str = hello_str.upper()
print(upper_str)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [24]:
import re
string = "I like apple"
new_string = re.sub(r'\bapple\b', 'orange', string)
print(new_string)

I like orange

6.  Write a code to create a list with numbers 1 to 5 and print it.

In [29]:
numbers = [i for i in range(1, 6)]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [33]:
num = [1,2,3,4,]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [34]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [35]:
fruits = ['a', 'b', 'c', 'd']
second_fruit = fruits[1]
print(second_fruit)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [36]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [18]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [37]:
fruit_tuple = ('apple', 'banana', 'cherry')
first_fruit = fruit_tuple[0]
print(first_fruit)

apple

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [17]:
my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print(count)

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [16]:
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [15]:
my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("The element 'banana' is in the tuple.")
else:
    print("The element 'banana' is not in the tuple.")

The element 'banana' is in the tuple.

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

17.  Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [14]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [13]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [12]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [11]:
my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print(count)

3

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [10]:
my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("Banana is in the tuple.")
else:
    print("Banana is not in the tuple.")

Banana is in the tuple.

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [9]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [8]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}